name: Linux build

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write
  checks: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install packages
      run: |
          sudo apt update
          sudo apt -y install git g++ cmake libgtk-3-dev

    - name: Checkout emerald repo
      uses: actions/checkout@v4
      with:
        repository: MaksymT17/emerald
        ref: ${{ github.head_ref }}
        path: emerald

    - name: Build artifacts with Cmake
      run: |
        cd emerald &&
        ./build.sh

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: emerald_build_linux
        path: emerald/build 